<div class="jumbotron">
ß
      <div class="jumbotoron-container">
        <h1>いいレビューを評価しよう</h1>
        <p>いいモノにはいいレビューが集まる</p>
        <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
      </div>
    </div>
<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Googleでサインアップしてね', user_google_omniauth_authorize_path %>
  <%= link_to 'Facebookでサインアップしてね', user_facebook_omniauth_authorize_path %>
  <%= link_to 'Twitterでサインアップしてね', user_twitter_omniauth_authorize_path %>
<% end %>
