// Place all the styles related to the citicizes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: #E8EEEF;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

//header
.navbar {
    font-size:20px;
    font-weight:bold;
    text-align: left;
    width: 100%;
}

.container {
    width: 100%;
    height: 50px;
    background: #E8EEEF;
}

.navbar-nav {
    float: right !important;
}

.navbar-collapse {
    width: 100%;
    height: 50px !important;
}

.navbar-header {
  width: 100%;
}

.title {
    display: block;
    text-align: left;
    float: left;
}

.navbar-toggle  {
    display: block;
}

.navbar-brand {
    text-align: left;
    display: block;
    margin-right: auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

//form
.submit-button {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
}

.artwork-confirm-panel {
    padding-bottom: 20px;
}


//index
.card {
    margin-bottom: 40px;
}

.image-container {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes zoomIn {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

.artwork {
    width: 100%;
    height: auto;
    &:hover {
        animation: zoomIn 1s;
    }
}

.album-title {
    color: #000;
    min-height: 2.8em;
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1;
    border-radius: 50%;
    a {
        color: #FFF;
    }
}

.util-links-container {
    height: 50px;
}

/* show */
.review-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-info-review-title {
    font-size:  34px;
    line-height: 1.3em;
    text-align: center;
}

.review-post-user-name {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: right;
    color: #666;
}

.album-details-container {
    display: flex;
    margin: 20px;
}

.album-info-container {
    padding: 10px;
}

.album-info-title {
    font-weight: bold;
    font-size: 20px;
}

.album-info-artist-name {
    font-size: 20px;
    font-weight: 400;
}


.album-info-review-title {
    margin-top: 40px;
    font-weight: bold;
}
.reviews-container {
    margin-left: 50px;
}




