// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shinsuke-center {
  display: flex;
  justify-content: center;
}

.user-details {
  box-sizing: border-box;
  margin: 20px;
  min-height: 200px;
  border: 1px solid #000;

  .user-image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
  }

  .user-name {
    text-align: center;
    padding-bottom: 10px;
    font-size: 80px;
  }

  .tab-pane {
    padding: 10px;
  }

  .user-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .util-links-container {
    text-align: right;
    margin-left: 8px;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1;
    border-radius: 50%;
    a {
      color: #FFF;
    }
  }
}